#bg-wood {
    background-image: url('../img/wood.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.colorhead {
    background-color: darkviolet !important;
    color: white;
}

.btn:focus {
    box-shadow: none !important;
    outline: none;
}
